/* Estilos para pantallas grandes */
.container {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: inherit;
  color: inherit;
}

a h2 {
  color: white;
  position: relative;
  border: #ccc solid 2px;
  border: solid 1px darkslategray;
  background-color: #008cba;
  padding: 0.3em 1em;
  border-radius: 0.3em;
  cursor: pointer;
}

.bg1 {
  border: solid red 1px;
}
.bg2 {
  border: solid green 1px;
}
.bg3 {
  border: solid orange 1px;
}

.row {
  display: flex;
  flex-direction: row;
}
.row input {
  flex-grow: 1;
}
.row label {
  flex-shrink: 0;
  min-width: 10em;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

label {
  font-size: 1.2em;
}

input[type="text"],
input[type="tel"],
input[type="number"] {
  font-size: 1.2em;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #008cba;
  color: white;
  font-size: 1.2em;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  .row {
    display: flex;
    flex-direction: column;
  }
  .container {
    padding: 2em;
  }

  form {
    grid-template-columns: 1fr;
  }

  input[type="submit"] {
    width: 100%;
  }
}
